# Question 1

Given two strings, s1 and s2. Write a program to create a new string s3 by appending s2 in the middle of s1.

s1 = "yellow"
s2 = "jack"

Expected output :
s3 = "yeljacklow"

In [ ]:
s1 = "yellow"
s2 = "jack"

s3 = s1[:len(s1)//2] + s2 + s1[len(s1)//2:]

s3

'yeljacklow'

# Question 2

Write a Python program to return a string consisting of the first 3 and last 3 characters of a sting you received from the user. If string length is less than 3, return "empty string".

In [ ]:
string = input("Enter a word: ")

if len(string) < 3:
  print("empty string")
else:
  print(string[:3] + string[-3:])

Enter a word: BESacademy
BESemy

# Question 3

Write a program to find how many times substring "Mr. Bean" appears in the given string.

In [ ]:
str_x = "Mr. Bean is a good actor and Mr. Bean is very funny"

a = str_x.count("Mr. Bean")
a

2

In [ ]:
print(f"Mr. Bean appeared {a} times.")

Mr. Bean appeared 2 times.

In [ ]:
print("Mr. Bean appeared {} times.".format(a))

Mr. Bean appeared 2 times.

# Question 4

Write a Pyhton program to display your details like name, age, job in three different lines.

Example;

name: Jack

age: 30

job: data scientist

In [ ]:
per = input("Please enter your name, age and job seperating them with comma: ").split(",")

print("name:", per[0])
print("age:", per[1])
print("job:", per[2])

Please enter your name, age and job seperating them with comma: jack, 30, data scientist
name: jack
age:  30
job:  data scientist

In [ ]:
score ="90,901,59,00"
score.split(",")

['90', '901', '59', '00']

# Question 5

Create an algorithm that asks the employee for weekly working hours and hourly wage information and ultimately calculates the employee's weekly salary.


Note : Work over 40 hours per week is paied 1.5 times the wage.

In [ ]:
WeeklyHours = float(input("Please enter your weekly working hour: "))
HourlyWage = float(input("Please enter your hourly wage: "))

if WeeklyHours > 40:
  weekly_salary = (WeeklyHours - 40)*(1.5*HourlyWage)+(40*HourlyWage)
else:
  weekly_salary = WeeklyHours*HourlyWage
print(f"Your weekly salary {weekly_salary}")

Please enter your weekly working hour: 41
Please enter your hourly wage: 20
Your weekly salary 830.0

# Question 6
Create an algorithm that will return True if the two integer values you get from the user are equel or the difference of these numbers is multiple of 5.

In [ ]:
N1 = int(input("Please enter the first number: "))
N2 = int(input("Please enter the second number: "))

if N1 == N2 or abs(N1 - N2)%5 == 0:
  print(True)
else:
  print(False)

Please enter the first number: 3
Please enter the second number: 8
True

In [ ]:
print(N1 == N2 or abs(N1 - N2)%5 == 0)

True

# Question 7
If the two objects received from the user are of an integer type, write a Python program to sum the two objects.

In [ ]:
x = input("please enter a number ")
y = input("please enter a number ")

if x.isnumeric() and y.isnumeric():
  a = int(x) + int(y)
else:
  a = "You have not entered a number"

print(a)

please enter a number 11w
please enter a number 11
You have not entered a number

# Question 8

Write a program that takes a country's name and its area as arguments and returns the area of the country's proportion of the total world's landmass.

Examples:

"Russia", 17098242 = "Russia is 11.48% of the total world's landmass.

The total world's landmass is 148,940,000 (km**2)

In [ ]:
country_name = input("Please enter a country: ")
its_area = float(input("Please enter the area of the country: "))
percentile = its_area/1489400

print(f"{country_name} is {round(percentile, 2)}% of the total world's landmass")

Please enter a country: Russia
Please enter the area of the country: 17098242
Russia is 11.48% of the total world's landmass

# Question 9

Create an algorithm that finds BMI.

In [ ]:
weight = int(input("Enter your weight in kg: "))
height = int(input("Enter your height in cm: "))
height_square = (height/100)**2
BMI = round(weight/height_square,2)

print(f"Your BMI is {BMI}")

if BMI < 18.5:
  body = "underweight"
elif 18.5 <= BMI <= 25:
  body = "normal"
elif 25 < BMI <= 30:
  body = "overwight"
elif 30 < BMI <= 35:
  body = "obese"
else:
  body = "extremely obese"

print(f"Your bmi is {BMI} and your body type is {body}.")

Enter your weight in kg: 52
Enter your height in cm: 167
Your BMI is 18.65
Your bmi is 18.65 and your body type is normal.

# Question 10

Write a python code that extracts the phone number in a given string expression.

Example:

given_str = "My phone number is (111) 222-33-44"

output = 1112223344

In [ ]:
given_str =  "My phone number is (111) 222-33-44"

output = ""
for i in given_str:
  if i in "0123456789":
    output += i

print(output)

1112223344

In [ ]:
given_str =  "My phone number is (111) 222-33-44"

output = ""
for i in given_str:
  if i.isnumeric():
    output += i

print(output)

1112223344

# Question 11

Ask the user for the grade she/he got from the exam and print the letter grade corresponding to her/his grade.

In [ ]:
grade = int(input("Enter your grade: "))

if 0<= grade <= 100:

  if 80 <= grade <=100:
    result = "A"
  elif 65 <= grade:
    result = "B"
  elif 55 <= grade:
    result = "C"
  elif 50 <= grade:
    result = "D"
  else:
    result = "F"
  print(f"Your letter grade is {result}")

else:
  print("invalid input")

Enter your grade: 67
Your letter grade is B

# Question 12

Take a word from the user and create an algorithm that repeats the process starting from the first letter of that word, one letter at a time, up to the last letter, capitalized, and outputs the results in a list.

In [ ]:
word = input("Enter a word: ").lower()

list = []
for i in range(len(word)):
  list.append(word[:i] + word[i].upper() + word[i+1:])
print(list)

Enter a word: yUNUS
['Yunus', 'yUnus', 'yuNus', 'yunUs', 'yunuS']

# Question 13

Write a Pyhton dictionary function that takes a string from the user and matches each character in the string with the index number.

In [3]:
str_word = input("Enter a word: ")

key = 0
dic = {}
for i in str_word:
  dic[key] = i
  key += 1
print(dic)

Enter a word: BESacademy
{0: 'B', 1: 'E', 2: 'S', 3: 'a', 4: 'c', 5: 'a', 6: 'd', 7: 'e', 8: 'm', 9: 'y'}

In [4]:
str_word = input("Enter a word: ")

dic = {}
for i in range(len(str_word)):
  dic[i] = str_word[i]
print(dic)

Enter a word: BESacademy
{0: 'B', 1: 'E', 2: 'S', 3: 'a', 4: 'c', 5: 'a', 6: 'd', 7: 'e', 8: 'm', 9: 'y'}

In [5]:
dict(enumerate("BESacademy"))

{0: 'B',
 1: 'E',
 2: 'S',
 3: 'a',
 4: 'c',
 5: 'a',
 6: 'd',
 7: 'e',
 8: 'm',
 9: 'y'}

# Question 14

Multiplication table

In [8]:
a = int(input("Enter a number: "))

for i in range(11):
  print(f"{a} x {i} = {a*i}")

Enter a number: 10
10 x 0 = 0
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [9]:
a = int(input("Enter a number: "))

for i in range(11):
  print("{} x {} =".format(a,i), a*i)

Enter a number: 5
5 x 0 = 0
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

# Question 15

Write a Python program that accepts an figure (n) and computes the value of n+nn+nnn.

input value = 5

output = (5 + 55 + 555) = 615

In [21]:
n = int(input("Enter a number: "))

nn = str(n)*2
nnn = str(n)*3
result = n + int(nn) + int(nnn)

print(f"{n} + {int(nn)} + {int(nnn)} = {result}")

Enter a number: 33
33 + 3333 + 333333 = 336699

# Question 16

Write the code that replaces the first character of a string given to you or received from the user, without changing the first character, with a "?" sign.


input = restart

output = resta?t

In [33]:
word = input("Enter a word: ")

if word[0] in word[1:]:
  rest = word[1:].replace(word[0], "?")
  result = word[0] + rest
  print(result)
else:
  print(word)

Enter a word: tutututu
tu?u?u?u

In [35]:
text = input("Enter a word: ")

new_text = text[0]

for i in range(1, len(text)):
  if text[i] == text[0]:
    new_text += "?"
  else:
    new_text += text[i]
print(new_text)

Enter a word: restart
resta?t

In [36]:
text = input("Enter a word: ")

new_text = text.replace(text[0], "?")[1:]
print(text[0] + new_text)

Enter a word: restart
resta?t

# Question 17

Write a python code that separates numbers 1 to 50 as even and odd.

In [44]:
odd_numbers = []
even_numbers = []
for a in range(1, 51):
  if a % 2 != 0:
    odd_numbers.append(a)
  else:
    even_numbers.append(a)

print("Odd numbers =", odd_numbers)
print("Even numbers =", even_numbers)

Odd numbers = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]
Even numbers = [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [45]:
odds = [i for i in range(1, 51) if i % 2 == 1]
evens = [i for i in range(1, 51) if i % 2 == 0]

print("Odd numbers =", odds)
print("Even numbers =", evens)

Odd numbers = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]
Even numbers = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

# Question 18

Get two numbers from the user. If the first of these numbers is greater than the second, order all the numbers between these numbers from biggest to smallest, otherwise from smallest to biggest.

Examples:

input = 20, 15

output = 20, 19, 18, 17, 16, 15

input = 17, 21

output = 17, 18, 19, 20, 21

In [58]:
n1 = int(input("Enter the first number: "))
n2 = int(input("Enter the second number: "))

if n1 < n2:
  for i in range(n1, n2+1):
    i
    print(i, end='\n')
elif n1 > n2:
  for i in range(n1, n2-1, -1):
    i
    print(i, end='\n')
else:
  print(n1)

Enter the first number: 20
Enter the second number: 15
20
19
18
17
16
15

In [61]:
n1 = int(input("Enter the first number: "))
n2 = int(input("Enter the second number: "))

if n1 < n2:
  print(list(range(n1, n2+1)))
elif n1 > n2:
  print(list(range(n1, n2-1, -1)))
else:
  print(n1)

Enter the first number: 24
Enter the second number: 17
[24, 23, 22, 21, 20, 19, 18, 17]

# Question 19

Assume a long string containing more than one word and reverse it word by word.

In [78]:
name = "My name is Jack and I'm 29 years old"

words = name.split(" ")
new_name = ""
for i in range(len(words)-1 ,-1 , -1):
  new_name += words[i] + " "
print(new_name)

old years 29 I'm and Jack is name My

In [79]:
name = "My name is Jack and I'm 29 years old"

words = name.split(" ")
n = len(words) - 1

while n >= 0:
  print(words[n], end=" ")
  n -=1

old years 29 I'm and Jack is name My

In [80]:
name = "My name is Jack and I'm 29 years old"

words = name.split(" ")
print(*words[::-1])

old years 29 I'm and Jack is name My

# Question 20

Imagine a circle and two squares inside and outside the circle. Create a program that makes an integer (radius of the circle) and returns the difference of areas of two squares.

In [82]:
r = int(input("Enter r value: "))

out_square = (2*r)**2
inn_square = (r**2)*2

diff_square = out_square - inn_square

print(f"The difference is {diff_square}.")

Enter r value: 6
The difference is 72.